@model IEnumerable<iCLOTHINGWebsite.Models.USERPASSWORD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passwordExpiryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passwordExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERS.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passwordExpiryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passwordExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
