@model IEnumerable<iCLOTHINGWebsite.Models.CATEGORY_ITEMS>

@{
    ViewBag.Title = "Index";
}

<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <h2>Categories</h2>

    <p>
        @using (Html.BeginForm("Index", "CATEGORY_ITEMS", FormMethod.Get))
        {
            <b>Search by Category Name</b>

            <b>@Html.TextBox("search", "", htmlAttributes: new { @class = " w-50 form-control" }) </b>
            <input type="submit" value="Search" />
        }
    </p>

    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop by Brand", "Index", "BRANDS")</h2>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop by Department", "Index", "DEPARTMENTs")</h2>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop by Sub-Category", "Index", "SUBCATEGORY_ITEMS")</h2>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop all Items", "Index", "ITEMs")</h2>
        </div>
    </div>
    <div>
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>

        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CATEGORY1.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ITEM.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORY1.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ITEM.Name)
                    </td>
                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |

                    </td>
                </tr>
            }

        </table>
    </div>
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>
</body>
</html>
