@model iCLOTHINGWebsite.Models.SPECIAL_QUERY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SPECIAL_QUERY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERS.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERS.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Personal")
</p>
