@{
    ViewBag.Title = "Control Panel";
}

<div class="jumbotron">
    <h1>Control Panel</h1>
    <p class="lead">Admins ONLY</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Admins", "Index", "Admins")</h2>
        <p>Computers Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Brands", "Index", "Brands")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Categories", "Index", "Categories")</h2>
        <p>Computers Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Category Items", "Index", "Category_Items")</h2>
        <p>Users Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Departments", "Index", "Departments")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Email List", "Index", "Email_list")</h2>
        <p>Computers Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Feedback", "Index", "Feedbacks")</h2>
        <p>Users Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Items", "Index", "Items")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Orders", "Index", "Orders")</h2>
        <p>Computers Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Query", "Index", "Special_query")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Sub-Categories", "Index", "Subcategories")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Sub-Category Items", "Index", "Subcategory_items")</h2>
        <p>Computers Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("User Passwords", "Index", "Userpasswords")</h2>
        <p>Users Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Users", "Index", "Users")</h2>
        <p>Assignment Basic Information.</p>
    </div>


</div>