@model IEnumerable<iCLOTHINGWebsite.Models.ORDERS>

@{
    ViewData["Title"] = "Index";
}

<h2>Transaction History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERS.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USERS.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
