@model IEnumerable<iCLOTHINGWebsite.Models.BRAND>

@{
    ViewBag.Title = "Index";
}

<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <h2>Brands</h2>
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop by Category", "Index", "CATEGORY_ITEMS")</h2>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop by Department", "Index", "DEPARTMENTs")</h2>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop all Items", "Index", "ITEMs")</h2>
        </div>

    </div>

    <div>
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
        
        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.OrderBy(x => x.Brand1))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |

                    </td>
                </tr>
            }

        </table>
    </div>
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>
</body>
</html>
